:root {
    --lightblue: #D1EBFF;
    --blue: #2672AB;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#navbar {
    background-color: #2672AB;
    width: 100%;
    padding: 10px;
    justify-items: center;
}

#logo {
    width: 15%;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("back1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

#footer1 {
    background-color: #2672AB;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0px;
}

#rights {
    color: #FFFFFF;
    font-size: 10px;
}

.question-box {
    background-color: #FFFFFF;
    width: 55%;
    border-radius: 0px 60px 0px 60px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-box-small h2 {
    text-align: center;
    margin: 30px 0px;
}

.answer {
    text-align: center;
    margin: 30px 0px;
}

.qu {
    margin: 30px 30px;
}

.question {
    text-align: start;
    line-height: 35px;
}

.butt {
    width: 100px;
    height: 30px;
    background-color: #2672AB;
    border-radius: 5px;
    color: #F5F5F5;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.buttt {
    display: flex;
    justify-content: center;
}

#butt:hover {
    background-color: #37474F;
    box-shadow: 4px 4px 4px 0 rgba(0, 0.1, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




@media only screen and (min-device-width: 0px) and (max-device-width:480px) {
    .answer {
        margin: 15px 0px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 5px;
    }

    input.answer {
        margin: 13px 10px;
    }



    #navbar {
        display: flex;
        justify-content: center;
    }

    #logo {
        width: 65%;
        padding: 0;
    }

    .question-box {
        width: 80%;
        padding: 25px;
    }

    #question {
        font-size: 15px;
    }

    .answer {
        margin: 13px 0px;
    }

    .qu {
        margin: 10px 20px;
    }



    .question-box-small h2 {
        margin: 0;
    }

    .butt {
        width: 80px;
        height: 30px;
        font-size: 13px;
    }
}



@media only screen and (min-device-width: 481px) and (max-device-width:768px) {

    #logo {
        width: 25%;
    }

    .question-box {
        width: 80%;
        padding: 25px;
    }

    #question {
        font-size: 18px;
    }

    .answer {
        margin: 15px 0px;
    }

    .qu {
        margin: 0px 20px;
    }

    .question-box-small h2 {
        margin: 0;
    }

    .butt {
        width: 80px;
        height: 30px;
        font-size: 15px;
    }
}
